<div class="container">
  <div class="text-center">
    <h1>Editing Department</h1>
  </div>
  <%= link_to 'Show', @department, class=>"btn btn-primary btn-lg" %> |
  <%= link_to 'Back', departments_path ,class=>"btn btn-info btn-lg"%>
</div>


<%= render 'form' %>


