<div class="container">
  <h1>Editing Doctor</h1>
  <%= render 'form' %>
  <%= link_to 'Show', @doctor ,:class => "btn btn-primary btn-lg"%> |
  <%= link_to 'Back', doctors_path,:class => "btn btn-primary btn-lg" %>
</div>





