<h1>Editing Appointment</h1>
<div class="container-fluid">
  <div class="well">
    <%= render 'form' %>
    <%= link_to 'Show', @appointment %> |
    <%= link_to 'Back', appointments_path %>
  </div>

</div>



